body {
    background-image: url(../img/repeat.jpg);
    background-repeat:repeat-x;
    float:none;
    font-family: arial ms;
    font-size: 14px;
    margin:0px;
    color: rgb(90, 90, 90);
    padding-right:2px;
    padding-left:2px;
    
    background-image: url(img_flwr.gif), url(paper.gif);
    background-position: right bottom, left top;
    background-repeat: no-repeat, repeat;
    padding: 15px;
}

#informationbar {
    background-color: greenyellow;
    height:20px;
    width:auto;
    padding-left: 15px;
    color:white;
}

#menu {
    width:auto;
}

#content {
    clear:left;
    padding-left: 20px;
    z-index:-1;
    min-height: 650px;
/*    background-image: -webkit-linear-gradient(white 0%, lightgray 100%);
    background-image: -moz-linear-gradient(white 0%, lightgray 100%);
    background-image: -o-linear-gradient(white 0%, lightgray 100%);
    background-image: linear-gradient(white 0%, lightgray 100%);*/
}

#footerbar { 
    background: none repeat scroll 0% 0% darkgrey; 
    height:40px;
    width:100%;
    clear: both;
}

#colophon { 
    background: none repeat scroll 0% 0% white; 
    height:30px;
    width:100%;
    clear: both;
    text-align: center;
}

.completed {
    background: lightpink!important;
    font: monospace!important;
    font-family: Arial, Helvetica, sans-serif!important;
    font-style: oblique!important;
    font-size: 30px!important;
    /*border-bottom: 1px!important;*/
    /*padding-bottom: 0.01px!important;*/
    margin-bottom: -20px!important;
    text-align: center!important;
    
}
.completed2 {
    background: lightcyan!important;
    font-family: Arial, Helvetica, sans-serif!important;
    font-style: oblique!important;
    font-size: 30px!important;
    margin-bottom: -20px!important;
    text-align: center!important;
}
.completed3 {
    background: palegreen!important;
    font-family: Arial, Helvetica, sans-serif!important;
    font-style: oblique!important;
    font-size: 30px!important;
    margin-bottom: -20px!important;
    text-align: center!important;
}
.items .fc-event-inner {
    color: #ffff15!important;
}

#accordianPanel{
    background-color: greenyellow;
}

